# @fileoverview Environment template for MU Sports backend.
# @copyright (c) Mulungushi University Sports Platform. All rights reserved.
# Owners: Kafiswe Chimputu and Elijah Manda, Full Stack Developers.

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/mu_sports?schema=public"

# Auth
JWT_SECRET="replace-with-64-char-random-string"
JWT_EXPIRES_IN="7d"
BCRYPT_ROUNDS=10

# Server
PORT=4000
NODE_ENV=development

# CORS
FRONTEND_URL="http://localhost:3000"